[2021-02-20 01:06] fernando-cm opened #1 "Add i18n support for world languages like Spanish, etc."
I would like you to add the Spanish language.

[2021-03-23 19:06] nikunjdk commented on #1
There is an option to change to the Spanish language in the app but according to the google play store reviews the app crashes while changing the language. I am not able to reproduce the issue on my device so I don't know where the problem lies but there must be an issue since many users have complained about it. If anybody runs into the problem then do post the stack trace so that I can identify

[2021-03-23 19:16] nhcarrigan commented on #1
Hey nikunjdk,

Are you referring to the option in the `Menu` dropdown from our native header? With the Spanish and Chinese selections.
I tested both of those on my end and was also unable to reproduce any errors.

[2021-03-23 19:33] nikunjdk commented on #1
That's the issue. It is not commonly reproducable but is present for maybe specific devices.

[2021-03-23 19:40] nikunjdk opened #5 "Option to change font size"
It might be a problem for middle-aged people to read small-sized font so an option to increase or decrease the font size can be added to the app.

[2021-03-23 19:44] nikunjdk opened #6 "While watching a video on a mobile device, a huge green box covers the whole window."
![Screenshot_20210317_105816_org freecodecamp](https://user-images.githubusercontent.com/40420430/112208167-100bc580-8c3e-11eb-955e-05c057b34fea.jpg)
The green banner covers a large portion of the video while it plays making it difficult for the users to understand the video properly.

[2021-04-07 14:54] raisedadead opened #8 "Add Computer Science Flash Cards"
We want to add a feature that borrows inspiration and the dataset from the awesome work already done in here: https://github.com/jwasham/computer-science-flash-cards

As a user I want to be able to:

- [ ] browse through a list of flash-card categories, which group cards in logical categories.
- [ ] browse through the cards in a group.
- [ ] look at the question on the card.
- [ ] flip the card to

[2021-04-14 04:01] QuincyLarson opened #9 "Add Android Bottom Navigation Bar"
In place of our mobile web UI buttons and our current top navbar, we want a more native-like bottom navigation bar with buttons to jump to different sections of freeCodeCamp (/learn, /forum, /news, /settings, /search).

[2021-04-14 05:19] nikunjdk commented on #9
Currently, other than the web navbar users can switch through different sections with the help of the drawer in the app. If you want the user's ease with some native feature, it's already present in the form of the drawer, but if you really want a bottom navbar, we do that too.

[2021-04-15 16:09] gkathir15 commented on #6
@nikunjdk  could you share the link to the page so I could recreate it, the course I visit shows youtube videos,
The green box issue can be fixed by hiding the web widget by ID from Dom.

[2021-04-16 04:44] nikunjdk commented on #6
When you start any exercise there is an option of help. in the help option, one of the options is to watch a video. The green box appears when you start playing the video.

[2021-04-29 14:48] raisedadead opened #10 "Browse open-source e-Books"

[2021-04-29 15:06] raisedadead opened #11 "Auth & User Settings"
As a user I want to be able to:

- [x] Login using freeCodeCamp via OAuth 2.0
- [x] View my profile & progress on the web app.
- [ ] Update my profile and user settings.
- [ ] Delete my account.

[2021-04-29 15:10] raisedadead opened #12 "Browse Topics from freeCodeCamp forum"
As a user I want to be able to:

- [x] View a lightweight feed from the forum.
- [x] Search for topics on the forum.
- [x] Open topics in a browser window (web-view to OS default browser) - similar behavior to Twitter or Google news apps.

[2021-04-29 15:11] raisedadead opened #13 "Browse Articles from freeCodeCamp News"
As a user I want to be able to:

- [x] View a lightweight feed from the news.
- [x] Search for topics on the news.
- [x] Save & Bookmark topics offline on device for later use.
- [x] Open topics in a browser window (web-view to OS default browser) - similar behavior to Twitter or Google news apps.

[2021-04-29 15:20] raisedadead commented on #6
We starting off with a clean slate and will rethinking this mobile app ground up. I am going to close this issue in favor of the direction we are taking, where the app is not just a web view but a feature rich tool at your disposal.

[2021-04-29 15:20] #6 closed

[2021-04-29 15:37] raisedadead commented on #1
We starting off with a clean slate and will rethinking this mobile app ground up. I am going to close this issue in favor of the direction we are taking, where the app is not just a web view but a feature rich tool at your disposal.

[2021-04-29 15:37] #1 closed

[2021-06-22 15:20] nhcarrigan opened #15 "App Logo Discussion Issue"
This issue serves as a discussion thread for the app logo. While discussing the app in our chat, it was brought up that the logo looks a bit squished.

One idea was to add some additional negative space around the logo, but I would love to hear what you all think as well.

**How the app appears in my play store**
![image](https://user-images.githubusercontent.com/63889819/122951162-eee86d00-d331-1

[2021-06-23 04:43] Nirajn2311 commented on #15
There is a fixed size for the app icons in different platforms right. So I think it would be better if padding was done and from that base icon we made the icons for other platforms.

[2021-06-23 07:17] ahmadabdolsaheb commented on #15
So the puck social ones have extra padding for situations like this: https://github.com/freeCodeCamp/design-style-guide/tree/master/assets

[2021-07-20 09:54] Sembauke commented on #13
So I have been working on the mobile newsfeed and I would like to hear your opinions.

Figma has some limitations for animating so certain flows don't work exactly as intended. But there is a fully working prototype of the design.

**The front page:**
1.  The front page has a search bar where users can search for articles.
2.  The front page defines what you are looking at in the header "NEWS FEED

[2021-07-20 10:51] Sembauke opened #16 "Documentation on how to get started on the mobile app"
This is what I noted down while I was setting up Flutter and Dart on my system.

# Flutter and Dart setup

## Windows, Linux, Mac
* Follow the official guide - https://flutter.dev/docs/get-started/install - I can confirm their guide worked without any issues on Windows 10 Home with and without WSL

## Notes for users Mac with Apple Silicon
Follow the official guide but make the below 2 changes:
*

[2021-07-20 11:31] nikunjdk commented on #11
Is there any api for login and getting user profile by freeCodeCamp?

[2021-07-20 14:59] Nirajn2311 commented on #16
Yes, I'm working on that currently. I'm documenting everything I do:

[2021-07-28 12:15] Sembauke commented on #11
Login screen:
https://www.figma.com/file/c70xPjT9ZsDVaUZAV0NmRv/Untitled?node-id=0%3A1
![image](https://user-images.githubusercontent.com/46919888/127320486-8941e1fe-23cf-4493-b2a7-b6f28b5ea617.png)

[2021-07-28 16:04] Nirajn2311 commented on #11
Instead of "Go Back", we could add a back button(arrow) at the top left. I feel thats more intuitive to the users.

[2021-08-15 17:29] Nirajn2311 commented on #16
This is what I noted down while I was setting up Flutter and Dart on my system.

# Flutter and Dart setup

## Windows, Linux, Mac
* Follow the official guide - https://flutter.dev/docs/get-started/install - I can confirm their guide worked without any issues on Windows 10 Home with and without WSL

## Notes for users Mac with Apple Silicon
Follow the official guide but make the below 2 changes:
*

[2021-08-16 09:48] Sembauke opened #21 "Replace packages that do not support null safety"
The current packages do not have support for null safety and should be replaced:
- package:flutter_skeleton
- package:flutter_swiper
- package:flutter_page_indicator
- package:transformer_page_view

[2021-08-16 09:55] Sembauke commented on #21
Potential:
https://pub.dev/packages/skeleton_loader
https://pub.dev/packages/page_indicator

[2021-08-17 07:53] #13 closed

[2021-08-17 09:22] Sembauke commented on #9
![image](https://user-images.githubusercontent.com/46919888/129699942-671d0b2e-8438-4f84-b054-54838e9d3530.png)

https://www.figma.com/file/9L4ehIT1aWCcJeWjlNBNDl/navbar?node-id=0%3A1

[2021-08-19 10:20] Sembauke commented on #12
https://www.figma.com/file/be0h7cYDleGKJwp48Uzx2p/Untitled?node-id=0%3A1
![image](https://user-images.githubusercontent.com/46919888/130052557-9e12c076-273e-4939-b5c7-f50deab0bc5c.png)

[2021-08-19 10:25] Sembauke opened #27 "Listen to podcast on the app"

[2021-08-19 10:41] Sembauke opened #28 "News feed ideas"
- [ ]  Pull to refresh in the articles page.
- [ ] A progress bar could be shown when reading the article to know how much of the article is left to be read.
- [ ] Visit an author profile

[2021-08-25 04:59] renovate[bot] opened #34 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency com.android.tools.build:gradle to v4.2.2](../pull/32)
 - [ ] [chore(deps): update dependency

[2021-09-02 09:06] Sembauke opened #37 "forum: functionality, views and authentication"
These are functionalities we must/could have that are currently present on the forum.

Steps:
**Authentication:**
- [x] authenticate a user so they can post messages etc.

**Templates:**
- [x] Make a template for making a new message on a post
- [x] Make a template for making a new topic on the forum
- [x] Make a template for viewing an author profile with badges, and other info.
- [x] Make a prof

[2021-09-02 09:11] Sembauke commented on #9
Closing this as we have implemented navigation, I might open a new issue in the future for improvement on the current navigation.

[2021-09-02 09:14] Sembauke commented on #12
The features here are implemented, tacking further in #37

[2021-09-02 09:14] #12 closed

[2021-09-13 16:29] nikunjdk opened #38 "Set up stacked architecture and linter"
Set up [Stacked Architecture](https://pub.dev/packages/stacked) and [linter](https://pub.dev/packages/flutter_lints).

[2021-09-16 09:40] #38 closed

[2021-09-20 08:17] nikunjdk commented on #21
this can be closed. all such packages were being used by code related to flash cards and I have commented and punt that code it a temp folder and have removed such packages in or #39

[2021-09-21 08:30] #21 closed

[2021-10-18 09:40] Sembauke opened #49 "Make a login template."

[2021-10-18 09:40] #49 closed

[2021-10-19 15:26] #27 closed

[2021-10-19 20:48] renovate[bot] opened #52 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:43] #52 closed

[2021-10-20 08:16] Sembauke opened #53 "as an author on the forum i want to be able to delete, close, edit any posts/comments"

[2021-11-03 17:03] #53 closed

[2021-11-03 17:09] Sembauke opened #65 "Accessibility tips for the first/next release"
- [ ] - Active interactions. Ensure that all active interactions do something. Any button that can be pushed should do something when pushed. For example, if you have a no-op callback for an onPressed event, change it to show a SnackBar on the screen explaining which control you just pushed.

- [ ] - Screen reader testing. The screen reader should be able to describe all controls on the page when

[2021-11-03 17:16] Sembauke commented on #65
https://flutter.dev/docs/development/accessibility-and-localization/accessibility

[2021-11-03 18:02] Nirajn2311 commented on #65
Screen reader part would take some time to implement/test so we could push that to next release. In the remaining ones, it would be better if we checked them(can be done on a meet) after we're ready with each component that has been planned for first release

[2021-11-04 05:20] Nirajn2311 commented on #34
Leave this open for now, it won't create a PR until we check any of the dependencies from the list

[2021-11-13 19:57] Nirajn2311 opened #75 "Preparation for initial release"
- [ ] Update app logo - #15
- [ ] Bug: Allow playing of podcast episode until the app closes or another episode is played - PR coming soon

[2021-11-13 20:00] Nirajn2311 commented on #75
@Sembauke edit in anything that I've missed.

[2021-11-15 14:20] #15 closed

[2021-12-10 11:28] #28 closed

[2021-12-10 11:38] Sembauke opened #98 "News: functionalities and features"
**Author:**
- [x] view an authors page
- [x] view an author bio
- [x] view the articles an author posted
- [x] an picture of the author

**Tags:**
- [x] when clicking on a tag a new feed with that subject should show up
- [x] when clicking the feed it should be clear that the feed is on a certain subject

**Lazy loading:**
- [x] when dragging on the top of the feed it should refresh
- [x] when an

[2021-12-10 11:39] Sembauke commented on #65
going to close this for now, we can come back to it later.

[2021-12-10 11:39] #65 closed

[2021-12-12 16:13] #16 closed

[2021-12-13 04:35] ujwal49 opened #107 "Notch overlapping with menu header in freecodecamp flutter app"
**Describe the bug**
My phones notch and the freecodecamp header in the flutter app are overlapping.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to freecodecamp flutter app(Android)
2. Click on the navigation menu on the top left of the screen
3. Click on learn
4. You can see the bug popping on the notch

**Expected behavior**
Maybe It's not using enough padding to show it below my ph

[2021-12-13 06:46] Rishab-ms commented on #107
I will work on this 👍🏻

[2021-12-13 07:36] Sembauke commented on #107
Hi @ujwal49 an update should already be available for this bug 😁

[2021-12-13 07:39] #107 closed

[2021-12-13 07:43] varun-2001 opened #108 "Side Drawer doesn't go well with the rest of the app."
Following the app theme and making sure it doesn't cover the entire screen would be great.

[2021-12-13 09:12] ujwal49 commented on #107
Yep the update fixed it
Thank you

[2021-12-17 08:28] diamant3 opened #125 "Add content below the menu"
Like authors, copyright or social links for the app just to occupy the space.

[2021-12-26 04:49] NagendraDevara opened #139 "Radio buttons are not getting checked for each completed excercises."
The Android application not showing completed radio button.

![IMG_20211226_101507.jpg](https://user-images.githubusercontent.com/24850111/147399125-06d1ea1e-0bfa-461e-a9b0-fe355279c140.jpg)

As shown in the image the radio buttons are not checked even though I completed those exercises.
From desktop version everything is fine.

Android app version - 2.0.4

## Additional context

[2021-12-31 17:54] franciscomelov opened #142 "problem when hitting Space bar"
**Describe the bug**
when I hit the Space bar instead of giving an space it inputs more text.
When I want to write "hello world"
I write "hello" normally but when it the Space bar "hellohellohello " is the output

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Responsive web design certification, "
2. Go to the first challenge "say hello to html elements"
3. Go to the "code" section
4

[2022-01-03 09:58] Sembauke commented on #142
Hey @franciscomelov,

This is a weird one, I am not able to reproduce.
I would suggest trying an other keyboard as you are using the Microsoft SwiftKey keyboard.

[2022-01-03 10:01] Sembauke commented on #139
Hey @NagendraDevara,

Are you logged in, you need to log in to save your progress.

[2022-01-03 10:22] NagendraDevara commented on #139
Yes I have logged in to the Android App.

[2022-01-03 10:47] Sembauke commented on #139
Hey @ojeytonwilliams,

Could this have something to do with the code storage?

[2022-01-03 11:36] ojeytonwilliams commented on #139
Hi @Sembauke.  Nope, the code storage only affects the editor.

Since the client is showing 113/113 challenges completed, it seems this is a display issue.

[2022-01-04 11:16] ojeytonwilliams commented on #139
To help us debug this, @NagendraDevara, could you check if this problem appears if you go to https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/ using your mobile's browser instead of the app?  If you do, it would help if you let us know the browser, version etc. so we can try to reproduce this.

[2022-01-04 11:46] NagendraDevara commented on #139
![IMG_20220104_171301.jpg](https://user-images.githubusercontent.com/24850111/148054156-e02abd58-b9bf-404b-8e59-8787c09dc1ad.jpg)
I have opened the link in chrome ,it is showing as above.

![Screenshot_2022-01-04-17-14-50-721_com.android.chrome.jpg](https://user-images.githubusercontent.com/24850111/148054322-23192aa5-5250-4cef-bc93-cb880f0d162b.jpg)

Please find the version details.

[2022-01-04 11:58] ojeytonwilliams commented on #139
Thanks @NagendraDevara! That really helps narrow down where we have to look.

[2022-01-07 13:41] #139 closed

[2022-01-10 04:18] Chinmay-KB commented on #5
Hi,
I wanted to contribute to this project, and this issue or any other. Is this open for contributions or is it currently a closed team building in public?

[2022-01-10 12:42] #37 closed

[2022-01-10 19:25] Chinmay-KB commented on #125
@Sembauke @diamant3 can I work on this issue

[2022-01-14 11:07] Sembauke commented on #125
Yes go for it, we can pair on this pull request: https://github.com/freeCodeCamp/mobile/pull/158

[2022-01-19 13:32] Sembauke commented on #125
Hey @Chinmay-KB,

I am waiting on #158 to get merged.

After this, there is an better opportunity to start this.

[2022-01-19 14:32] Sembauke opened #181 "flutter: pages in navigation stack get rebuild on new page push"
I was looking at the debug terminal when I noticed double network request for fetching from news. This happens when a new page is pushed to the navigation history stack.

We should probably look into caching for news. Or find a way around the stack rebuilding, when not needed.

https://github.com/flutter/flutter/issues/11655

[2022-01-19 17:32] Chinmay-KB commented on #125
@Sembauke Okay!

[2022-01-20 06:00] Chinmay-KB opened #182 "Build fails on Flutter 2.8"
**Describe the bug**
Building this project against Flutter 2.8 fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Update flutter to latest version
2. Build the project

[2022-01-20 10:39] #182 closed

[2022-01-21 18:45] Chinmay-KB commented on #125
@Sembauke #158 is merged. What can I work on now

[2022-01-21 18:53] Sembauke commented on #125
Yep!

[2022-02-02 04:11] shuvashish76 opened #199 "F-Droid inclusion"
Currently the app available on [izzy-repo](https://apt.izzysoft.de/fdroid/index/apk/org.freecodecamp).

Would you consider putting this app on F-Droid, please?
Thankyou🙏🏿

[2022-02-07 18:52] Sembauke opened #207 "open in browser or webview in app"
Came across some reviews, where people said that they did not like the learn section going to the browser.
I am thinking of giving people the option to choose between them.

Open up a dialog with a message that the web-view (or component) is still in development. The user can choose to stay in the app or go further in the browser. This means we can make both sides happy.

That would also mean that

[2022-02-08 07:55] Sembauke commented on #207
@Nirajn2311 What do you think?

[2022-02-08 20:56] QuincyLarson commented on #8
@raisedadead @Sembauke We already have this in the form of DeveloperQuiz.org. I recommend we expand the functionality of this website instead of building a separate tool.

I know this is from nearly a year ago, but Sem mentioned this issue to me. (This is not super high priority.)

This application was built by @jdwilkin4 and @deniselemonaki. If you want to share feedback for how similar this is t

[2022-02-08 21:41] deniselemonaki commented on #8
The application was built by @jdwilkin4  and @estefaniacn. I was not involved with the design and build.

[2022-02-11 13:36] Chinmay-KB opened #212 "Unable to build project on Flutter 2.10"
**Describe the bug**
Trying to build the project throws the following bug

[code]
Making the necessary change and building it again throws this issue
[code]
Changing kotlin version to 1.6.10 fixes this issue

**To Reproduce**
Steps to reproduce the behavior:
1. run `flutter upgrade` to upgrade it to 2.10.
2. Run `flutter build`

**Smartphone (please complete the following information):**
 - Device

[2022-02-12 12:27] #212 closed

[2022-02-12 12:32] #207 closed

[2022-02-12 12:32] #181 closed, assigned to nobody

[2022-02-13 12:12] Sembauke commented on #199
Hey @shuvashish76,

Can you tell some more about F-Droid.

[2022-02-13 13:14] shuvashish76 commented on #199
https://f-droid.org/en/about/

F-Droid is a non-profit alternative app store for FOSS apps, where applications in the repository are built from source.

@IzzySoft knows better as he is one of the maintainer there. _(who also runs his own [repo](https://apt.izzysoft.de/fdroid/))_

[2022-02-13 13:25] #98 closed

[2022-02-13 14:50] IzzySoft commented on #199
Instead of trying to fit it all into a single comment here, may I direct you to my article series on F-Droid? From there, you can also follow the [`fdroid`](https://android.izzysoft.de/articles/tagged/fdroid) tag if you want to dig deeper. The series starts with the introductory article

[F-Droid: The privacy-friendly alternative to Google Play Store](https://android.izzysoft.de/articles/named/fdr

[2022-02-13 16:09] Sembauke commented on #199
Hi @IzzySoft,

I will contact the owner of the mobile app on Monday, and see what he thing about it.
It looks pretty great though. It goes well with our intentions.

Have a nice day and happy coding 😄

[2022-02-13 19:27] Nirajn2311 commented on #125
@Chinmay-KB Hi, you can start working on this.

[2022-02-14 20:07] Chinmay-KB commented on #125
What content should I add

[2022-02-18 10:06] Sembauke commented on #125
`freeCodeCamp is a donor-supported tax-exempt 501(c)(3) nonprofit organization (United States Federal Tax Identification Number: 82-0779546)`

We should add this on the bottom of the drawer with small letters.

[2022-02-22 18:42] Sembauke commented on #199
Hi @IzzySoft,

Just a question, how many users make use of F-Droid?
If that is a too private of a question please e-mail sem@freecodecamp.org.

Sorry for the late response.

[2022-02-22 21:50] IzzySoft commented on #199
@Sembauke that's hard to tell as we don't keep statistics on that level. For some numbers-per-day, you can find the corresponding metrics here: https://fdroid.gitlab.io/metrics/search.f-droid.org/2021-01-18.json (taken from https://f-droid.org/docs/All_our_APIs/ – just replace the date as needed).

[2022-02-25 11:32] Sembauke commented on #199
Hey @IzzySoft,

Do you guys have a terms of service/privacy policy we can look into?

Thanks.

[2022-02-25 19:04] IzzySoft commented on #199
(attributed to Groucho Marx)

A good starting point are [our docs](https://f-droid.org/docs/). There you can e.g. find our [Code of Conduct](https://f-droid.org/en/docs/Code_of_Conduct), our [Inclusion Policy](https://f-droid.org/en/docs/Inclusion_Policy). More information can also be found in [our wiki](https://gitlab.com/fdroid/wiki/-/wikis/pages). Some of those things are also spread across [ar

[2022-02-26 13:32] Sembauke commented on #199
Hi @shuvashish76 and @IzzySoft,

Thank you for sharing F-droid, We may consider joining you in the future.

Thanks for your understanding,

Have a nice day and happy coding!

[2022-02-26 13:32] #199 closed

[2022-02-26 16:02] IzzySoft commented on #199
Looking forward to that then. All the best for your project!

[2022-02-28 18:12] yashpalgoyal1304 commented on #199
@Sembauke i'll be eagerly waiting for your app to be on fdroid
(i dont use google play *hit)

[2022-03-04 17:49] Sembauke commented on #199
Hey @licaon-kter.
any reason behind the ping?

[2022-03-04 18:04] licaon-kter commented on #199
You can see the link?

[2022-03-04 18:06] Sembauke commented on #199
Yes but I do not understand what I am looking at.

[2022-03-04 18:08] licaon-kter commented on #199
The F-Droid test build of the app (and the recipe), for you or anyone to test for correctness.

[2022-03-04 18:11] Sembauke commented on #199
Hey @licaon-kter
We decided not to join F-droid:
https://github.com/freeCodeCamp/mobile/issues/199#issuecomment-1052125828

[2022-03-04 18:13] licaon-kter commented on #199
Yes yes, didn't get the _why_ though.

I thought this was riddled with non-FOSS deps, but suprise.

Anyway... yeah. Have fun...

[2022-03-30 23:14] antonio-erick opened #297 "Update LICENSE.md's copyright disclaimer to 2022"

[2022-04-07 09:35] #297 closed

[2022-04-28 15:32] Michelphoenix98 commented on #11
Is this issue still open?

[2022-04-28 16:21] Michelphoenix98 commented on #125
Is this still open?

[2022-04-29 18:17] #125 closed

[2022-04-30 07:38] Nirajn2311 commented on #11
Yes and I'm currently working on it in PR - #310

[2022-04-30 07:47] Nirajn2311 opened #329 "[testing] add integration tests"
As the app gets bigger with more features, we would need more integration tests to make sure nothing is broken during deployment. Currently we have only one integration test in the news component which checks if a news article is bookmarked and visible in the bookmarks view. Both the news component and podcasts component need more integration tests.

[2022-04-30 11:53] Rohit-RA-2020 opened #330 "Improve Newsfeed UI"
The UI on the newsfeed is basic and can be improved
I would like to Work upon developing and improving the UI of newsfeed to improve is UI/UX, make it more beautiful, appealing and precise.

[2022-04-30 12:49] Nirajn2311 commented on #330
Hi, could you make a design prototype for it.

[2022-05-02 08:08] Sembauke opened #331 "[learn] account settings for freeCodeCamp Account"
To give the user (when logged-in) full control over their freeCodeCamp account we will need a settings page available.
these settings include:

- [x] Username field
- [x] Name field
- [x] Location field
- [x] Picture
- [x] About

**Privacy**

- [x] My profile - your certifications will be set to private if this is set to private
- [x] My name - if set to private the users name will not be displaye

[2022-05-02 08:16] Sembauke opened #332 "[news] personalized tutorial feed"
To make user enjoy the news-component more:

We will need an option for a personalized feed. The user should be able to subscribe to a certain author or subject they like. These authors or subjects will show up in their personalized feed.

It would also be nice to add recommendations of certain subjects that they can subscribe to in the personalized feed and the home feed.

[2022-05-06 17:10] QuincyLarson commented on #332
Yes – this would be really helpful in general (not just for the mobile app, but for /news in general). Sort of a way to follow specific topics like Medium.com has. This said, we don't want to have elaborate onboarding. Probably just a "follow this topic" button that, when pressed, prioritizes articles with that topic over other articles.

For example, if someone clicked that for the Python topic,

[2022-05-06 20:04] Sembauke commented on #332
Thank you Quincy.

[2022-05-21 15:52] psk907 opened #364 "[suggestion] Match fonts to the FCC website theme"
The mobile app seems to use a single font-family i.e **Roboto** and the default font styles that come with Flutter. This creates some gap from the content on the [FreeCodeCamp website](https://www.freecodecamp.org/)

In order to keep things consistent between the web and mobile, I suggest using the same fonts as the website within the mobile app.
The font used in the website is **Lato** [fonts.goo

[2022-05-25 18:14] Nirajn2311 commented on #364
Hi, that's a great suggestion and you can start working on this. Also the website uses 4 fonts which can be found here - https://design-style-guide.freecodecamp.org/#typography

[2022-06-05 07:57] #330 closed

[2022-06-08 08:43] #364 closed

[2022-06-27 13:13] #8 closed

[2022-07-01 02:47] Rishab-ms commented on #331
Can I work on this?

[2022-07-01 05:41] rulim34 opened #434 "Clean and modular architecture"
The current project structure is based on the function only (eg. grouping into service, model, view). As the project grows, it could causing crowd and confusion (eg. ui -> widget folder containing a lot of widget from across feature of the app).

Therefore, I would like to suggest the [structure proposed ResoCoder as explained on their web](https://resocoder.com/2019/08/27/flutter-tdd-clean-archit

[2022-07-01 07:53] Nirajn2311 commented on #331
Sure you can go ahead and get started

[2022-07-01 09:18] Sembauke commented on #331
Hey @Rishab-ms,

Good to hear that you want to contribute to the mobile app.
If you have trouble setting up your development environment, make sure to reach out to us on the official freeCodeCamp Discord server: https://discord.gg/jrBr3sca  or have further questions about this isse.

[2022-07-05 11:18] Sembauke opened #449 "[LEARN] features / UI updates V3.0"
### Design link- https://www.figma.com/file/4XPlUi8QGWsmyV7hA8r86m/learn-mobile

## PhoneIDE

- [x] #570
- [x] Make highlighting more accessible by preventing line-breaking (Which would break the highlighting in the entire file) this will make everything more visible.
- [x] An option to select a certain type of language in the code editor which will enable highlighting for that programming languag

[2022-07-05 12:40] ahmadabdolsaheb commented on #449
cc @ahmadabdolsaheb :)

[2022-07-05 14:34] Nirajn2311 opened #451 "Improve the UI of the progress bar in podcast episode view"
Currently the progress bar works but during the initial few seconds the ball doesn't move from the left end. This may confuse users as to whether the progress bar is working or not.

Here's a [link](https://github.com/freeCodeCamp/mobile/compare/653ad88e54d45c574615d0906584b947179ec012..c6661040f268607b67ea5898a941d72675877a2a) with an attempt to fix it but since no progress was being made we reve

[2022-07-05 15:31] #434 closed

[2022-07-09 09:04] ahmadabdolsaheb commented on #449
Thanks for putting this detailed list together. Here are a few points worth mentioning:

- On the success, hint, and instructions states, the editor should shrink and only show one or two lines above and below the active line on the editor. That way the user can select different lines, open the instructions, or hint and compare their answer.
- It might be helpful to think of success, hint, and ins

[2022-07-16 12:16] Nirajn2311 commented on #449
Is this just for the new challenges?

[2022-07-17 10:05] bricekk opened #484 "Give more information about the .env file."
***Give more information about the .env file.***

I think it would be good to add in the "Getting Started" section of the README.md more information about the .env file. If we explain to people how to install and work on a flutter project, it would be normal to explain to them what is the environment in which this project works (databases, auth, etc.)

[2022-07-17 13:14] ahmadabdolsaheb commented on #449
Yes for now, until we redesign the editor for the older curriculum.

[2022-07-17 14:00] Sembauke commented on #449
I think it is fine to do on the old and the new challenges as it's basically the same.

[2022-07-17 15:05] ahmadabdolsaheb commented on #449
I agree, I think the design is mainly usable for older challenges but there are a few points to keep in mind for the new RWD.
1) Editable regions notify the editor where to focus.
2) The challenges are shorter
3) I think the tests are written in order. That is why showing the first failing test would make sense.

If it is a high priority, I will mock the older RWD.

[2022-07-17 15:33] Nirajn2311 commented on #449
I wouldn't say it's high priority as finishing off the current design would take some time but it would be great to have that also.

[2022-07-17 16:02] ahmadabdolsaheb commented on #449
awesome, let's get this in and see the feedback. We could redesign the old RWD accordingly.

[2022-07-18 18:01] Nirajn2311 commented on #449
@ahmadabdolsaheb In the design link, the dropdown text is just `Editors`. If there is multiple files then the text should be the currently shown file right? Also what about the case of one file, will the text be "Editors" or the file?

[2022-07-18 18:35] Nirajn2311 commented on #484
Hi, could you look at this document - https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-mobile-app-locally . We'll be moving the documentation there.

[2022-07-19 00:07] bricekk commented on #484
@Nirajn2311 this one is looking good. thank you

[2022-07-19 04:10] Nirajn2311 commented on #484
Thanks. I'll be closing the issue now.

[2022-07-19 04:10] #484 closed

[2022-07-19 06:42] ahmadabdolsaheb commented on #449
So that is an accessibility consideration. Not sure if it applies to mobile. Feel free to look up best practices.
If there is one file, showing the name of the file is fine.

[2022-07-20 16:11] shootermv opened #487 "can see missing ".env" file error when trying to start the app with vscode"
**Describe the bug**
sorry to bother
this is my first time with flutter
im trying to run the app pressing "run" button at vscode debugger,
and this is what i see
im using windows10
feel free to close this issue...
![image](https://user-images.githubusercontent.com/1336862/180030823-02fc310e-e808-4d5f-b85c-1908434b275a.png)

[2022-07-21 06:45] #487 closed

[2022-08-04 15:17] Dexters-Hub commented on #451
@Nirajn2311 @Sembauke Can I work on this issue?

[2022-08-04 15:47] Sembauke commented on #451
@Dexters-Hub Please do!

[2022-08-04 18:44] Dexters-Hub commented on #451
I have fixed the issue, do check it out

[2022-08-04 20:06] #451 closed

[2022-08-06 07:30] Nirajn2311 commented on #449
What exactly should be in the twitter card?

[2022-08-09 10:50] ahmadabdolsaheb commented on #449
Good question. This feature needs more research to see what the convention is.  We can initially only show the button when the block is completed and share a link to the block with a meaningful predesigned OG image.

Ultimately we would need to have a dynamic twitter cards similar to https://github.com/freeCodeCamp/freeCodeCamp/issues/47085

Feel free to post pond this feature until we finalize th

[2022-08-11 08:14] ahmadabdolsaheb commented on #449
For the last action item:
- improve styling for the preview button so that it looks like a toggle button.
I think we can keep them as tabs( no toggling)
On the other hand, we can add a contextual button to the code editing view that switches between editing and preview

[2022-08-11 08:14] ahmadabdolsaheb commented on #449
<img width="298" alt="Screen Shot 2022-08-11 at 10 32 29 AM" src="https://user-images.githubusercontent.com/4591597/184091639-848b9483-3111-4e72-9e3c-435193bd3954.png">

[2022-08-11 08:23] ahmadabdolsaheb commented on #449
Although I am not sure why we would need a toggle at the first place.
1) if users are editing and want to go to preview, they could click on the 'preivew tab'
2) if they want to go from the 'preview tab' to  editing, they could tap on the button the lower navigation

[2022-08-11 11:31] ahmadabdolsaheb commented on #449
How about grouping the console and the preview under the `eye` icon since both of those panes are only observable and not editable. That way we could remove the dropdown from the editors tabs and just have them side by side.

That way the lower buttons would be views, but not toggles. Here is a mock, thoughts:
<img width="1429" alt="Screen Shot 2022-08-11 at 11 50 15 AM" src="https://user-images.g

[2022-08-11 12:42] Sembauke commented on #449
This looks solid Ahmad. If wee keep the amount of files under four it should be good.

[2022-08-11 16:14] Sembauke opened #519 "Add a privacy policy page"
When watching this [video](https://www.youtube.com/watch?v=J_mQc_nYPjk) about Google Play privacy updates, there is a section that the user should be able to view a privacy policy within the app or a link that leads to an external page.

Otherwise the app might be taken down in the future for privacy violations.

[2022-08-16 13:50] ahmadabdolsaheb commented on #449
Here is the next iteration
<img width="1101" alt="Screen Shot 2022-08-16 at 4 42 35 PM" src="https://user-images.githubusercontent.com/4591597/184894491-5a2c5ec9-4cf3-405e-98d7-8d998f27aad3.png">

[2022-09-13 12:54] #11 closed

[2022-09-15 09:11] Sembauke opened #565 "JavaScript challenges are missing instructions"
The java script challenges and the legacy RWD are missing their descriptions only the instructions are visible.
This should be fixed by adding it in the panels.

[2022-09-15 09:12] Sembauke opened #566 "The app bar disappears when editing challenges"
The app bar disappears when opening challenges, this should not be the case.

[2022-09-15 09:14] Sembauke opened #567 "[learn] the preview is visible on JavaScript challenges"
The preview is visible on JavaScript challenges, this should not be the case.

It should focus on the console. If the user taps on the "preview" tab it should say that it is not available for this challenge type.

[2022-09-15 09:16] Sembauke opened #568 "[learn] implement console for JavaScript challenges"
There should be a console where the user can see their output. When using console.log() or an error appears in the code.

[2022-09-15 09:27] Sembauke opened #569 "Make it possible to highlight a certain piece of code with giving it a custom background color."

[2022-09-15 09:27] Sembauke opened #570 "Make it possible to highlight a certain region in the editor with displaying a colored bar. This bar should be colorable depending on the status of the tests and should imply which region is editable."

[2022-09-17 13:57] DeMoN100 opened #581 "Keyboard Won't Popup"
**Describe the bug**
When I click on the text box my keyboard does not pop-up

**To Reproduce**
Tap on sign up.
Tap on type box to enter email above send code to email.

**Expected behavior**
Your keyboard should popup so you may type.

**Screenshots**
![Screen_Recording_20220917_094855](https://user-images.githubusercontent.com/8564572/190860562-49adc0f1-d55f-4d68-85e8-f6c0c71729b4.gif)

**Smartp

[2022-09-19 06:57] Sembauke commented on #581
Hey @DeMoN100,

This version of the app was released about a year ago. At the moment we do not support learn in the app. We are working on it though! The best thing you can do is Sign in through GitHub or Google.

Have a nice day and happy coding.

[2022-09-19 11:31] #581 closed

[2022-09-21 07:44] DeMoN100 commented on #581
Thank you for the information. I highly recommend the app be updated on f-droid because this version was listed as the latest version on the f-droid repo.

[2022-09-26 20:34] udayan-banik opened #595 "Fix the Google PlayStore description"
![Screenshot_2022-09-27-01-59-12-703_com android vending](https://user-images.githubusercontent.com/47602524/192374377-33564412-9a76-4268-9f58-1a2a8fb226aa.jpg)
**Describe the bug**
Fix the description on the Play Store where it should be podcasts instead of "podcast s"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Exp

[2022-09-27 13:15] Sembauke commented on #595
Thank you!

[2022-09-27 13:15] #595 closed

[2022-10-05 12:51] SmartAree commented on #329
Can I work on this?

[2022-10-05 14:18] #565 closed

[2022-10-05 14:23] #566 closed

[2022-10-06 07:18] Sembauke commented on #329
Hi @SmartAree,
Yes for sure! Let us know if you need any help.

[2022-10-11 11:37] VishalVR-21 commented on #329
Could u please assign it to me

[2022-10-12 09:30] Sembauke opened #618 "Push new view after challenge reset"
Instead keeping old states after the reset, we should push a new view of the same challenge.

[2022-10-12 09:50] Sembauke commented on #329
Hey @VishalVR-21,
We do not assign issues, feel free to work on it though.
No one seems to work on it at the moment.

Have a nice day and happy coding.

[2022-10-22 00:58] #618 closed

[2022-10-27 14:58] #569 closed

[2022-10-27 14:58] #570 closed

[2022-10-31 08:31] #449 closed

[2022-11-03 08:42] Sembauke opened #671 "[news] Change Article class/file names to tutorials"
We have recently changed the name of Articles to Tutorials.
This should also be reflected in the class and file names.

[2022-11-03 08:48] Sembauke opened #672 "[learn] filter out es6 block in the javascript certifcations."
To make things easier, we need to filter out the es6 block.
This will make it possible to release the cert after the JavaScript console is implemented.

[2022-11-03 08:49] Sembauke opened #673 "[learn] save challenges locally so there is no need for internet"
This is something up for discussion. We might need to do something similar to news.

[2022-11-03 08:51] Sembauke opened #674 "[learn] instructions pop up before the tests are completed."
After pressing the test button the instruction panel shows up first, before the test are completed.

This should be changed. The pass panel should show up first not the instruction panel.

[2022-11-03 10:21] Sembauke opened #676 "[learn] multi-file editor has different background color"
When switching between the file with the editable region and the one without the colors seems to change.

This needs to be changed so the color of the file without the editable region is the same as the one with the editable region.

[2022-11-04 07:22] DeMoN100 commented on #581
Yes sorry for the late reply. The app comes up in f-droid from this repo.

https://apt.izzysoft.de/fdroid/index/apk/org.freecodecamp

[2022-11-08 14:19] Sembauke opened #688 "[learn] the pass pane should have a share button which implements the ability to make Twitter cards"

[2022-11-09 14:36] #676 closed

[2022-11-09 19:18] #672 closed

[2022-11-09 20:07] Sembauke opened #689 "[podcast] should show an error message if the podcast can not be loaded."
Currently the podcast component does not show an error message if the podcasts can not be fetched.

The component should display an error message instead that the podcast could not be loaded.

[2022-11-17 21:22] #689 closed

[2022-11-25 07:28] Nirajn2311 opened #705 "[news] "Show more" for search results"
Currently when a user searches for an article they're shown the first 7 results. If there are more than 7 results for the given query then there should be an extra button(`See all results for <query>`) after the last article which routes the user to a new view with all the results shown in the same design as the feed.

[2022-11-25 07:50] Nirajn2311 opened #706 "[learn] iOS - Editable region not aligned properly"
As seen in the below image, the editable region is irregularly aligned in the editor.

![Simulator Screen Shot - iPhone 14 Pro - 2022-11-25 at 11 54 36](https://user-images.githubusercontent.com/36357875/203929620-049a88fd-718a-4933-a7d8-1c03e4c48c14.png)